openipdb.ipdb
config.yaml
mihomo.yaml
test
output/*
subs-check*
mihomo-check*
todo
rule
.idea
.vscode
.lingma
.windsurf
.DS_Store
gemini.md
claude.md
.claude
# Ignore images
*.png
*.jpg
*.jpeg
*.gif

# Ignore documentation and other data files
doc/
subcheck_linux_arm64
subcheck_linux_amd64    
proot-distro-error.md
test_upload.py

sub.txt

